<h1>Buchen</h1>


<%= form_with(url:new_booking_path, method: "get", local: true, locale: I18n.locale) do %>
  <%= label_tag(:q, "Anreise") %>
  <%= date_field( :booking,  :date_in) %>
    <%= label_tag(:q, "Abreise") %>
  <%= date_field( :booking, :date_out) %>
  <%= submit_tag("Create new Booking Request") %>
<% end %>


            <hr/>
          <div class="calendar"></div>
  <script>
     var currentDate = new Date();
      $('.calendar').calendar({
        mode: 'rangepicker',
        l10n: {
            jan: "Januar",
            feb: "Februar",
            mar: "März",
            apr: "April",
            may: "Mai",
            jun: "Juni",
            jul: "Juli",
            aug: "August",
            sep: "September",
            oct: "Oktober",
            nov: "November",
            dec: "Dezember",
            mn: "Mo",
            tu: "Di",
            we: 'Mi',
            th: 'Do',
            fr: 'Fr',
            sa: 'Sa',
            su: 'So'
        }

});




// $('.calendar').calendar('appendText',"hallo", 2019, 09, 28)
<% @booking_dates.each do | date_in, date_out | %>
var sy = <%= date_in.year %>;
var sm = <%= date_in.month %>;
var sd = <%= date_in.day %>;
var ey = <%= date_out.year %>;
var em = <%= date_out.month %>;
var ed = <%= date_out.day %>;

$('.calendar').calendar('addBlocked', sy, sm, sd, ey, em, ed);
<% end %>

$('.calendar').on('jqyc.dayChoose', function (event) {
var choosenYear = $(this).data('year');
var choosenMonth = $(this).data('month');
var choosenDay = $(this).data('day-of-month');


var start_year = $(this).data('rangepicker-start-year');
var start_month = $(this).data('rangepicker-start-month');
var start_day = $(this).data('rangepicker-start-day-of-month');
var end_year = $(this).data('rangepicker-end-year');
var end_month = $(this).data('rangepicker-end-month');
var end_day = $(this).data('rangepicker-end-day-of-month');
var start_date = new Date(start_year, start_month-1, start_day+1);
var end_date = new Date(end_year, end_month-1, end_day+1);

$('#booking_date_in').val(start_date.toISOString().slice(0, 10))
$('#booking_date_out').val(end_date.toISOString().slice(0, 10))
});



  </script>
