<%= form_for booking do |form| %>

<% [booking, contact, person].each do | model | %>
  <%= render 'errors.html.erb', model: model %>
<% end %>

<div class="form-group" id="booking-form">

  <div class="field">
    <%= form.label :date_in %>
    <%= form.date_field :date_in %>
  </div>

  <div class="field">
    <%= form.label :date_out %>
    <%= form.date_field :date_out %>
  </div>

  <div class="field">
    <%= form.label :no_persons %>
    <%= form.text_field :no_persons, class: 'form-control' %>
  </div>
</div>

Person
<div class="form-group" id="person-form">

 <%= form.fields_for person do |person_form| %>

  <div class="field">
    <%= person_form.label :first_name %>
    <%= person_form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= person_form.label :last_name %>
    <%= person_form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= person_form.label :salutation %>
    <%= person_form.text_field :salutation, class: 'form-control' %>
  </div>

<% end %>
</div>

Contact
<div class="form-group" id="contact-form">
<%= form.fields_for contact do |contact_form| %>

    <div class="field">
      <%= contact_form.label :street %>
      <%= contact_form.text_field :street, class: 'form-control' %>
    </div>

    <div class="field">
      <%= contact_form.label :city %>
      <%= contact_form.text_field :city, class: 'form-control' %>
    </div>

    <div class="field">
      <%= contact_form.label :postalCode %>
      <%= contact_form.text_field :postalCode, class: 'form-control' %>
    </div>

    <div class="field">
      <%= contact_form.label :phone %>
      <%= contact_form.text_field :phone, class: 'form-control' %>
    </div>

    <div class="field">
      <%= contact_form.label :email %>
      <%= contact_form.text_field :email, class: 'form-control' %>
    </div>

    <% end %>
</div>

<div class="form-group" id="booking-form-comment">

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: 'form-control' %>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
