<%= form_with(model: [contact, person, booking], url: bookings_path, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_in %>
    <%= form.datetime_select :date_in %>
  </div>

  <div class="field">
    <%= form.label :date_out %>
    <%= form.datetime_select :date_out %>
  </div>


  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :salutation %>
    <%= form.text_field :salutation %>
  </div>


Contact

    <div class="field">
      <%= form.label :street %>
      <%= form.text_field :street %>
    </div>

    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>

    <div class="field">
      <%= form.label :postalCode %>
      <%= form.text_field :postalCode %>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
