<%= form_for booking do |form| %>

  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_in %>
    <%= form.datetime_select :date_in %>
  </div>

  <div class="field">
    <%= form.label :date_out %>
    <%= form.datetime_select :date_out %>
  </div>

Person

 <%= form.fields_for person do |person_form| %>

  <div class="field">
    <%= person_form.label :first_name %>
    <%= person_form.text_field :first_name %>
  </div>

  <div class="field">
    <%= person_form.label :last_name %>
    <%= person_form.text_field :last_name %>
  </div>

  <div class="field">
    <%= person_form.label :salutation %>
    <%= person_form.text_field :salutation %>
  </div>

<% end %>

Contact
<%= form.fields_for contact do |contact_form| %>

    <div class="field">
      <%= contact_form.label :street %>
      <%= contact_form.text_field :street %>
    </div>

    <div class="field">
      <%= contact_form.label :city %>
      <%= contact_form.text_field :city %>
    </div>

    <div class="field">
      <%= contact_form.label :postalCode %>
      <%= contact_form.text_field :postalCode %>
    </div>

    <div class="field">
      <%= contact_form.label :phone %>
      <%= contact_form.text_field :phone %>
    </div>

    <div class="field">
      <%= contact_form.label :email %>
      <%= contact_form.text_field :email %>
    </div>

    <% end %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
