<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.booking.date_in') %></strong>
  <%= format_date(@booking.date_in) %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @booking.date_out %>
</p>


<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @person.salutation %>
</p>




<p>
  <strong>Street:</strong>
  <%= @contact.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @contact.postalCode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>



<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
