

<p>
  <strong><%= t('activerecord.attributes.booking.date_in') %></strong>
  <%= format_date(@booking.date_in) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.booking.date_out') %></strong>
  <%= format_date(@booking.date_out) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.booking.comment') %></strong>
  <%= @booking.comment %>
</p>

<p>
  <strong><%= t('activerecord.attributes.booking.no_persons') %></strong>
  <%= @booking.no_persons %>
</p>

<p>
  <strong><%= t('activerecord.attributes.person.first_name') %></strong>
  <%= @person.first_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.person.last_name') %></strong>
  <%= @person.last_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.person.salutation') %> </strong>
  <%= @person.salutation %>
</p>

<p>
  <strong><%= t('activerecord.attributes.contact.street') %> </strong>
  <%= @contact.street %>
</p>

<p>
  <strong><%= t('activerecord.attributes.contact.city') %> </strong>
  <%= @contact.city %>
</p>

<p>
  <strong><%= t('activerecord.attributes.contact.postalCode') %> </strong>
  <%= @contact.postalCode %>
</p>

<p>
  <strong><%= t('activerecord.attributes.contact.phone') %> </strong>
  <%= @contact.phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.contact.email') %> </strong>
  <%= @contact.email %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
