<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Schwalbennest Arloff', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%= render "navigation/nav_item", show: (can? :index, Booking),
                            text: 'Buchungsübersicht',
                            page: bookings_path %>

      <li class="nav-item <%= active_if(new_booking_path) %>">
        <%= link_to 'Buchungsanfrage', new_booking_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Preise</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
        <%= link_to t('devise.login.sign_out'), destroy_user_session_path, method: :get, class: 'nav-link' %>
              <% else %>
        <%= link_to t('devise.login.sign_in'), new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<%= current_page? '/' %>
<%= current_page? '/' %>
